NEXT_PUBLIC_SUPABASE_URL=https://qkikjuweknahvoayrynh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFraWtqdXdla25haHZvYXlyeW5oIiwicm9zZSI6ImFub24iLCJpYXQiOjE3NjAwMDg2NzUsImV4cCI6MjA3NTU4NDY3NX0.u73Qqmo7TpEboynpeeWE5MVNcIRG9OB2TIvGNZQBkhI
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFraWtqdXdla25haHZvYXlyeW5oIiwicm9zZSI6ImFub24iLCJpYXQiOjE3NjAwMDg2NzUsImV4cCI6MjA3NTU4NDY3NX0.u73Qqmo7TpEboynpeeWE5MVNcIRG9OB2TIvGNZQBkhI
